[Unit]
Description=updating the Arch Linux mirrors
Wants=network-online.target
After=network.target network-online.target


[Service]
Type=oneshot
ExecStart=/usr/local/bin/update-mirrors

[Install]
WantedBy=graphical.target
